/* STARTER STYLES: DO NOT DELETE. */

/* CSS Counter: this adds a "counting" pseudo element inside each article. For this to work, you must have a MAIN element, with ARTICLES as its CHILDREN. */
main {
  counter-reset: count 0;
}

article {
  counter-increment: count 1;
}

article::before {
  content: counter(count);
}

/* This makes all the images 600px tall at all times, but with width varying by parent dimension -- without distortion. Parts of the image may be hidden. Object-fit acts like a "window" into the image. */
img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}